Paper Review/
KorQuAD_2.1_train_12/*.json
KorQuAD_2.1_train_12/
Samples/
Samples_Result/
adiamaan/
/llama_result/
/misc_dataset/
/cropped_img
/Samples_zip
/screenshots
/cropped_img


*.zip
*.pdf
*.suo
.venv
*.vtt
*.json
*.png
*.jpg
*.txt
*.csv
*.mp4
.env
/fine-tuned-models
/.ipynb_checkpoints
