Paper Review/
KorQuAD_2.1_train_12/*.json
KorQuAD_2.1_train_12/
Samples/
Samples_Result/
adiamaan/
/llama_result/
/misc_dataset/
/cropped_img
/Samples_zip
/screenshots
/cropped_img
/Data_Final
/Data_Images
/Data_llama_vision
/Data_Final_Reversed
/Data_Subtitles
klue_sts_results/
Fine_Tuned_Results/
.ipynb_checkpoints/
DB/

downloaded_models/
KR_ENG_Dataset_Refined/

llama3.2_3b/
klue_sts_results/
klue_dp_results/


# Result folders
klue_sts_results/
klue_dp_results/
klue_dst_results/
klue_mrc_results/
klue_ner_results/
klue_nli_results/
klue_re_results/
klue_tc_results/
klue_sts_results_past/
klue_dst_results_prev/
bert-uncased-finetuned-kr-eng/
klue_nli_results_prev/
klue_nli_results_lora/


# Caches
klue_dp_cache/
klue_dst_origin_cache/
klue_dst_cache/
klue_mrc_cache/
klue_ner_cache/
klue_nli_cache/
klue_re_cache/
klue_sts_results_prev/
klue_sts_cache/
klue_tc_cache/
klue_sts_origin_cache/
klue_sts_regression_cache/
cache/
klue_sts_regression_eval_cache/
*cache*
*cache*/


*.log
*.zip
*.pdf
*.suo
.venv
*.vtt
*.json
*.png
*.jpg
*.txt
*.csv
*.mp4
.env
/fine-tuned-models
/.ipynb_checkpoints
cookies.txt
/Refined_Datas/
venv
